In [21]:
from pathlib import Path
import os

DATA_PATH = Path.cwd().parent / "data"

EOS_PATH = DATA_PATH / "EOS04 EDITED.xlsx"
SENTINEL_PATH = DATA_PATH / "SENTINEL Edited.xlsx"

os.path.isfile(EOS_PATH), os.path.isfile(SENTINEL_PATH)

(True, True)

In [22]:
import pandas as pd

eos = pd.ExcelFile(EOS_PATH)
sentinel = pd.ExcelFile(SENTINEL_PATH)

eos.sheet_names, sentinel.sheet_names

(['28-08-2022',
  '11-09-2022',
  '15-10-2022',
  '24-01-2023',
  '11-02-2023 ',
  '28-2-2023'],
 ['27-08-2022',
  '08-09-2022',
  '14-10-2022',
  '30-01-2023',
  '11-02-2023 ',
  '28-2-2023'])

# One Big Class For Experiments

# Only Sentinel Data

In [24]:
sentinel_dfs = []

for sheet_name in sentinel.sheet_names:
    df = pd.read_excel(SENTINEL_PATH, sheet_name=sheet_name)
    if 'Latitude (Centre of grid).1' in df.columns:
        df = df.drop(['Latitude (Centre of grid).1'], axis=1)
    df = df.rename(columns={'(Î¸)': 'angle'})
    sentinel_dfs.append(df)

sentinel_combined = pd.concat(sentinel_dfs, ignore_index=True)

sentinel_combined['Day'] = sentinel_combined['Sample Date & Time'].dt.day
sentinel_combined['Month'] = sentinel_combined['Sample Date & Time'].dt.month
sentinel_combined['Year'] = sentinel_combined['Sample Date & Time'].dt.year

sentinel_combined = sentinel_combined.dropna()


sentinel_combined

,Sample Date & Time,Latitude (Centre of grid),Longitude (Centre of grid),VH-pol,VV-pol,angle,SM1 (%),Day,Month,Year
0,2022-08-08,22.526048,72.765011,-16.375600,-10.590500,40.048800,30.5,8,8,2022
1,2022-08-08,22.525481,72.765028,-16.244300,-10.634800,41.349100,46.9,8,8,2022
2,2022-08-08,22.525999,72.765663,-16.821400,-9.816820,42.283900,18.1,8,8,2022
3,2022-08-08,22.527290,72.764707,-16.003700,-10.809500,42.692300,34.4,8,8,2022
4,2022-08-08,22.527874,72.764718,-16.637400,-10.626300,43.860500,41.1,8,8,2022
...,...,...,...,...,...,...,...,...,...,...
941,2023-02-28,22.523640,72.766727,-14.539132,-10.738241,41.797688,26.8,28,2,2023
942,2023-02-28,22.523657,72.766016,-14.474763,-10.252501,41.254852,32.8,28,2,2023
943,2023-02-28,22.524255,72.766024,-16.174562,-11.142242,42.046009,34.8,28,2,2023
944,2023-02-28,22.524229,72.766601,-16.532534,-11.246845,41.706707,27.8,28,2,2023
945,2023-02-28,22.524027,72.766357,-16.490974,-10.754059,41.437458,23.5,28,2,2023

## VH, VV, angle

In [25]:
X_cols = ['VH-pol', 'VV-pol', 'angle']
y_col = ['SM1 (%)']

X = sentinel_combined[X_cols]
y = sentinel_combined[y_col]

TRAIN_SIZE = 0.8

split_idx = int(len(X) * TRAIN_SIZE)

X_train, X_test = X.iloc[: split_idx], X.iloc[split_idx: ]
y_train, y_test = y.iloc[: split_idx], y.iloc[split_idx: ]

len(X_train), len(X_test)

(721, 181)

In [26]:
from sklearn.preprocessing import MinMaxScaler

mm = MinMaxScaler()

X_train_scaled = mm.fit_transform(X_train)
X_test_scaled = mm.transform(X_test)

In [27]:
warnings.filterwarnings('always', category=FutureWarning)
sent_vv_vh_angle = ModelExperiments(X_train, X_test, y_train, y_test,
                    X_train_scaled, X_test_scaled, y_train, y_test).run_all()

sent_vv_vh_angle

=== Running RandomForest ===
Fitting 3 folds for each of 216 candidates, totalling 648 fits
Best Parameters: {'max_depth': 5, 'max_features': 'sqrt', 'min_samples_leaf': 2, 'min_samples_split': 10, 'n_estimators': 200}
Test R2 Score: -0.12419332552148332

=== Running XGBoost ===
Fitting 3 folds for each of 108 candidates, totalling 324 fits
Best Parameters: {'colsample_bytree': 1.0, 'learning_rate': 0.01, 'max_depth': 5, 'n_estimators': 100, 'subsample': 1.0}
Test R2 Score: -0.106412190432156

=== Running AdaBoost ===
Fitting 3 folds for each of 144 candidates, totalling 432 fits
Best Parameters: {'estimator__max_depth': 3, 'estimator__min_samples_split': 2, 'learning_rate': 0.1, 'n_estimators': 200}
Test R2 Score: -0.06356310889106287

=== Running SVR ===
Fitting 3 folds for each of 320 candidates, totalling 960 fits
Best Parameters: {'C': 10, 'epsilon': 0.01, 'gamma': 'scale', 'kernel': 'sigmoid'}
Test R2 Score: -0.10039707008191012

{'RandomForest': {'MAE': 9.2352,
  'MSE': 123.755,
  'RMSE': 11.1245,
  'R2': -0.1242,
  'MAPE': 0.5389},
 'XGBoost': {'MAE': 9.1628,
  'MSE': 121.7976,
  'RMSE': 11.0362,
  'R2': -0.1064,
  'MAPE': 0.5356},
 'AdaBoost': {'MAE': 9.0031,
  'MSE': 117.0807,
  'RMSE': 10.8204,
  'R2': -0.0636,
  'MAPE': 0.5291},
 'SVR': {'MAE': 8.9616,
  'MSE': 121.1355,
  'RMSE': 11.0062,
  'R2': -0.1004,
  'MAPE': 0.5388}}

## VV, VH

In [28]:
X_cols = ['VH-pol', 'VV-pol']
y_col = ['SM1 (%)']

X = sentinel_combined[X_cols]
y = sentinel_combined[y_col]

TRAIN_SIZE = 0.8

split_idx = int(len(X) * TRAIN_SIZE)

X_train, X_test = X.iloc[: split_idx], X.iloc[split_idx: ]
y_train, y_test = y.iloc[: split_idx], y.iloc[split_idx: ]

len(X_train), len(X_test)

(721, 181)

In [29]:
from sklearn.preprocessing import MinMaxScaler

mm = MinMaxScaler()

X_train_scaled = mm.fit_transform(X_train)
X_test_scaled = mm.transform(X_test)

In [30]:
# warnings.filterwarnings('always', category=FutureWarning)
sent_vv_vh = ModelExperiments(X_train, X_test, y_train, y_test,
                    X_train_scaled, X_test_scaled, y_train, y_test).run_all()

sent_vv_vh

=== Running RandomForest ===
Fitting 3 folds for each of 216 candidates, totalling 648 fits
Best Parameters: {'max_depth': 5, 'max_features': 'sqrt', 'min_samples_leaf': 4, 'min_samples_split': 10, 'n_estimators': 100}
Test R2 Score: -0.13711664977999827

=== Running XGBoost ===
Fitting 3 folds for each of 108 candidates, totalling 324 fits
Best Parameters: {'colsample_bytree': 1.0, 'learning_rate': 0.01, 'max_depth': 3, 'n_estimators': 100, 'subsample': 0.8}
Test R2 Score: -0.07659468447752671

=== Running AdaBoost ===
Fitting 3 folds for each of 144 candidates, totalling 432 fits
Best Parameters: {'estimator__max_depth': 3, 'estimator__min_samples_split': 10, 'learning_rate': 1.0, 'n_estimators': 50}
Test R2 Score: -0.15220357149815533

=== Running SVR ===
Fitting 3 folds for each of 320 candidates, totalling 960 fits
Best Parameters: {'C': 0.1, 'epsilon': 0.5, 'gamma': 0.01, 'kernel': 'poly'}
Test R2 Score: -0.03911759119435687

{'RandomForest': {'MAE': 9.1231,
  'MSE': 125.1777,
  'RMSE': 11.1883,
  'R2': -0.1371,
  'MAPE': 0.5406},
 'XGBoost': {'MAE': 8.9135,
  'MSE': 118.5152,
  'RMSE': 10.8865,
  'R2': -0.0766,
  'MAPE': 0.534},
 'AdaBoost': {'MAE': 9.2057,
  'MSE': 126.8385,
  'RMSE': 11.2623,
  'R2': -0.1522,
  'MAPE': 0.5391},
 'SVR': {'MAE': 8.8044,
  'MSE': 114.3896,
  'RMSE': 10.6953,
  'R2': -0.0391,
  'MAPE': 0.5294}}

## VV, VH, angle, day, month, year

In [31]:
X_cols = ['VH-pol', 'VV-pol', 'angle', 'Day', 'Month', 'Year']
y_col = ['SM1 (%)']

X = sentinel_combined[X_cols]
y = sentinel_combined[y_col]

TRAIN_SIZE = 0.8

split_idx = int(len(X) * TRAIN_SIZE)

X_train, X_test = X.iloc[: split_idx], X.iloc[split_idx: ]
y_train, y_test = y.iloc[: split_idx], y.iloc[split_idx: ]

len(X_train), len(X_test)

(721, 181)

In [32]:
from sklearn.preprocessing import MinMaxScaler

mm = MinMaxScaler()

X_train_scaled = mm.fit_transform(X_train)
X_test_scaled = mm.transform(X_test)

In [33]:
warnings.filterwarnings('always', category=FutureWarning)
sent_vv_vh_angle_dmy = ModelExperiments(X_train, X_test, y_train, y_test,
                    X_train_scaled, X_test_scaled, y_train, y_test).run_all()

sent_vv_vh_angle_dmy

=== Running RandomForest ===
Fitting 3 folds for each of 216 candidates, totalling 648 fits
Best Parameters: {'max_depth': 5, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 500}
Test R2 Score: -0.18304661755876372

=== Running XGBoost ===
Fitting 3 folds for each of 108 candidates, totalling 324 fits
Best Parameters: {'colsample_bytree': 0.8, 'learning_rate': 0.01, 'max_depth': 3, 'n_estimators': 100, 'subsample': 0.8}
Test R2 Score: -0.09249830443402596

=== Running AdaBoost ===
Fitting 3 folds for each of 144 candidates, totalling 432 fits
Best Parameters: {'estimator__max_depth': 5, 'estimator__min_samples_split': 2, 'learning_rate': 1.0, 'n_estimators': 100}
Test R2 Score: -0.3238648811035951

=== Running SVR ===
Fitting 3 folds for each of 320 candidates, totalling 960 fits
Best Parameters: {'C': 0.1, 'epsilon': 0.5, 'gamma': 0.01, 'kernel': 'poly'}
Test R2 Score: -0.039115735245643046

{'RandomForest': {'MAE': 9.5732,
  'MSE': 130.2338,
  'RMSE': 11.412,
  'R2': -0.183,
  'MAPE': 0.5841},
 'XGBoost': {'MAE': 9.1491,
  'MSE': 120.2659,
  'RMSE': 10.9666,
  'R2': -0.0925,
  'MAPE': 0.5604},
 'AdaBoost': {'MAE': 10.0207,
  'MSE': 145.7356,
  'RMSE': 12.0721,
  'R2': -0.3239,
  'MAPE': 0.6159},
 'SVR': {'MAE': 8.8044,
  'MSE': 114.3894,
  'RMSE': 10.6953,
  'R2': -0.0391,
  'MAPE': 0.5294}}

# Only EOS Data

In [34]:
eos_dfs = []

for sheet_name in eos.sheet_names:
    df = pd.read_excel(EOS_PATH, sheet_name=sheet_name)
    eos_dfs.append(df)

eos_combined = pd.concat(eos_dfs, ignore_index=True)

eos_combined['Month'] = eos_combined['Sample Date & Time'].dt.month
eos_combined['Day'] = eos_combined['Sample Date & Time'].dt.day
eos_combined['Year'] = eos_combined['Sample Date & Time'].dt.year

eos_combined

,Sample Date & Time,Latitude (Centre of grid),Longitude (Centre of grid),HH-pol,HV-pol,SM1 (%),Month,Day,Year
0,2022-08-28,22.526048,72.765011,-4.99884,-13.33651,30.5,8,28,2022
1,2022-08-28,22.525481,72.765028,-8.76236,-16.08855,46.9,8,28,2022
2,2022-08-28,22.525999,72.765663,-7.11428,-11.90641,18.1,8,28,2022
3,2022-08-28,22.527290,72.764707,-8.32358,-15.11733,34.4,8,28,2022
4,2022-08-28,22.527874,72.764718,-5.27314,-15.93518,41.1,8,28,2022
...,...,...,...,...,...,...,...,...,...
892,2023-02-28,22.523640,72.766727,-8.69274,-14.15688,26.8,2,28,2023
893,2023-02-28,22.523657,72.766016,-6.48271,-15.56076,32.8,2,28,2023
894,2023-02-28,22.524255,72.766024,-6.20660,-14.73141,34.8,2,28,2023
895,2023-02-28,22.524229,72.766601,-9.43414,-20.52987,27.8,2,28,2023
896,2023-02-28,22.524027,72.766357,-7.47745,-15.42384,23.5,2,28,2023

## HH, HV

In [35]:
X_cols = ['HH-pol', 'HV-pol']
y_col = ['SM1 (%)']

TRAIN_SIZE = 0.8

X = eos_combined[X_cols]
y = eos_combined[y_col]

split_idx = int(len(X) * TRAIN_SIZE)

X_train, X_test = X.iloc[: split_idx], X.iloc[split_idx: ]
y_train, y_test = y.iloc[: split_idx], y.iloc[split_idx: ]

len(X_train), len(X_test)

(717, 180)

In [36]:
from sklearn.preprocessing import MinMaxScaler

X_train_scaled = mm.fit_transform(X_train)
X_test_scaled = mm.transform(X_test)

In [37]:
eos_hh_hv = ModelExperiments(X_train, X_test, y_train, y_test,
                             X_train_scaled, X_test_scaled, y_train, y_test).run_all()

=== Running RandomForest ===
Fitting 3 folds for each of 216 candidates, totalling 648 fits
Best Parameters: {'max_depth': 5, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 10, 'n_estimators': 200}
Test R2 Score: 0.007397434859398366

=== Running XGBoost ===
Fitting 3 folds for each of 108 candidates, totalling 324 fits
Best Parameters: {'colsample_bytree': 0.8, 'learning_rate': 0.01, 'max_depth': 3, 'n_estimators': 100, 'subsample': 1.0}
Test R2 Score: -0.23042230762538085

=== Running AdaBoost ===
Fitting 3 folds for each of 144 candidates, totalling 432 fits
Best Parameters: {'estimator__max_depth': 2, 'estimator__min_samples_split': 2, 'learning_rate': 1.0, 'n_estimators': 50}
Test R2 Score: 0.024421436193262203

=== Running SVR ===
Fitting 3 folds for each of 320 candidates, totalling 960 fits
Best Parameters: {'C': 100, 'epsilon': 0.5, 'gamma': 1, 'kernel': 'rbf'}
Test R2 Score: 0.08258295144924266

## HH, HV, Day, Month, Year

In [38]:
X_cols = ['HH-pol', 'HV-pol', 'Day', 'Month', 'Year']
y_col = ['SM1 (%)']

TRAIN_SIZE = 0.8

X = eos_combined[X_cols]
y = eos_combined[y_col]

split_idx = int(len(X) * TRAIN_SIZE)

X_train, X_test = X.iloc[: split_idx], X.iloc[split_idx: ]
y_train, y_test = y.iloc[: split_idx], y.iloc[split_idx: ]

len(X_train), len(X_test)

(717, 180)

In [39]:
from sklearn.preprocessing import MinMaxScaler

X_train_scaled = mm.fit_transform(X_train)
X_test_scaled = mm.transform(X_test)

In [40]:
eos_hh_hv_dmy = ModelExperiments(X_train, X_test, y_train, y_test,
                             X_train_scaled, X_test_scaled, y_train, y_test).run_all()

=== Running RandomForest ===
Fitting 3 folds for each of 216 candidates, totalling 648 fits
Best Parameters: {'max_depth': 5, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 200}
Test R2 Score: -0.01605000034572779

=== Running XGBoost ===
Fitting 3 folds for each of 108 candidates, totalling 324 fits
Best Parameters: {'colsample_bytree': 1.0, 'learning_rate': 0.01, 'max_depth': 3, 'n_estimators': 100, 'subsample': 0.8}
Test R2 Score: -0.1027760417428476

=== Running AdaBoost ===
Fitting 3 folds for each of 144 candidates, totalling 432 fits
Best Parameters: {'estimator__max_depth': 2, 'estimator__min_samples_split': 2, 'learning_rate': 1.0, 'n_estimators': 50}
Test R2 Score: -0.10198427533640286

=== Running SVR ===
Fitting 3 folds for each of 320 candidates, totalling 960 fits
Best Parameters: {'C': 0.1, 'epsilon': 0.5, 'gamma': 0.01, 'kernel': 'poly'}
Test R2 Score: -0.11676927248709434

In [41]:
final_results = {}

final_results['Sentinel VV+VH+Angle'] = sent_vv_vh_angle
final_results['Sentinel VV+VH'] = sent_vv_vh
final_results['Sentinel VV+VH+Angle+Day+Month+Year'] = sent_vv_vh_angle_dmy

final_results['EOS HH+HV'] = eos_hh_hv
final_results['EOS HH+HV+Day+Month+Year'] = eos_hh_hv_dmy

In [42]:
sent_vv_vh

{'RandomForest': {'MAE': 9.1231,
  'MSE': 125.1777,
  'RMSE': 11.1883,
  'R2': -0.1371,
  'MAPE': 0.5406},
 'XGBoost': {'MAE': 8.9135,
  'MSE': 118.5152,
  'RMSE': 10.8865,
  'R2': -0.0766,
  'MAPE': 0.534},
 'AdaBoost': {'MAE': 9.2057,
  'MSE': 126.8385,
  'RMSE': 11.2623,
  'R2': -0.1522,
  'MAPE': 0.5391},
 'SVR': {'MAE': 8.8044,
  'MSE': 114.3896,
  'RMSE': 10.6953,
  'R2': -0.0391,
  'MAPE': 0.5294}}

In [ ]:
import pandas as pd

# Flatten the nested dict
records = []
for dataset, models in final_results.items():
    for model, metrics in models.items():
        splits = dataset.split(' ')
        row = {"Dataset": splits[1], "Model": model, "Satellite": splits[0]}
        row.update(metrics)  # add MAE, MSE, RMSE, R2
        records.append(row)

# Convert to DataFrame
results_df = pd.DataFrame(records)

# Optional: nicer ordering
results_df = results_df[["Dataset", "Model", "Satellite", "MAE", "MSE", "RMSE", "MAPE", "R2"]]

# Preview
results_df

,Dataset,Model,Satellite,MAE,MSE,RMSE,MAPE,R2
0,VV+VH+Angle,RandomForest,Sentinel,9.2352,123.7550,11.1245,0.5389,-0.1242
1,VV+VH+Angle,XGBoost,Sentinel,9.1628,121.7976,11.0362,0.5356,-0.1064
2,VV+VH+Angle,AdaBoost,Sentinel,9.0031,117.0807,10.8204,0.5291,-0.0636
3,VV+VH+Angle,SVR,Sentinel,8.9616,121.1355,11.0062,0.5388,-0.1004
4,VV+VH,RandomForest,Sentinel,9.1231,125.1777,11.1883,0.5406,-0.1371
5,VV+VH,XGBoost,Sentinel,8.9135,118.5152,10.8865,0.5340,-0.0766
6,VV+VH,AdaBoost,Sentinel,9.2057,126.8385,11.2623,0.5391,-0.1522
7,VV+VH,SVR,Sentinel,8.8044,114.3896,10.6953,0.5294,-0.0391
8,VV+VH+Angle+Day+Month+Year,RandomForest,Sentinel,9.5732,130.2338,11.4120,0.5841,-0.1830
9,VV+VH+Angle+Day+Month+Year,XGBoost,Sentinel,9.1491,120.2659,10.9666,0.5604,-0.0925
10,VV+VH+Angle+Day+Month+Year,AdaBoost,Sentinel,10.0207,145.7356,12.0721,0.6159,-0.3239
11,VV+VH+Angle+Day+Month+Year,SVR,Sentinel,8.8044,114.3894,10.6953,0.5294,-0.0391
12,HH+HV,RandomForest,EOS,8.7426,113.8707,10.6710,0.5644,0.0074
13,HH+HV,XGBoost,EOS,9.6106,141.1532,11.8808,0.6213,-0.2304
14,HH+HV,AdaBoost,EOS,8.7048,111.9177,10.5791,0.5621,0.0244
15,HH+HV,SVR,EOS,8.6019,105.2454,10.2589,0.5297,0.0826
16,HH+HV+Day+Month+Year,RandomForest,EOS,8.8846,116.5605,10.7963,0.5801,-0.0161
17,HH+HV+Day+Month+Year,XGBoost,EOS,9.2586,126.5097,11.2477,0.6175,-0.1028
18,HH+HV+Day+Month+Year,AdaBoost,EOS,9.2830,126.4189,11.2436,0.6148,-0.1020
19,HH+HV+Day+Month+Year,SVR,EOS,9.3200,128.1150,11.3188,0.6149,-0.1168

In [ ]:
from datetime import datetime
from pathlib import Path

OUTPUT_PATH = Path("/home/kshipra/work/major/ml experiments/output")
# File name
filename = "Classical ML Results with Metrics.xlsx"

# Today's date as sheet name
sheet_name = datetime.today().strftime("%d-%m-%Y")

# Write to Excel (append if exists)
with pd.ExcelWriter(OUTPUT_PATH / "metrics" / filename, mode="a", if_sheet_exists="new", engine="openpyxl") as writer:
    results_df.to_excel(writer, sheet_name=sheet_name, index=False)

# EOS and Sentinel Data Combined

In [45]:
eos.sheet_names, sentinel.sheet_names

(['28-08-2022',
  '11-09-2022',
  '15-10-2022',
  '24-01-2023',
  '11-02-2023 ',
  '28-2-2023'],
 ['27-08-2022',
  '08-09-2022',
  '14-10-2022',
  '30-01-2023',
  '11-02-2023 ',
  '28-2-2023'])

In [46]:
sentinel_combined

,Sample Date & Time,Latitude (Centre of grid),Longitude (Centre of grid),VH-pol,VV-pol,angle,SM1 (%),Day,Month,Year
0,2022-08-08,22.526048,72.765011,-16.375600,-10.590500,40.048800,30.5,8,8,2022
1,2022-08-08,22.525481,72.765028,-16.244300,-10.634800,41.349100,46.9,8,8,2022
2,2022-08-08,22.525999,72.765663,-16.821400,-9.816820,42.283900,18.1,8,8,2022
3,2022-08-08,22.527290,72.764707,-16.003700,-10.809500,42.692300,34.4,8,8,2022
4,2022-08-08,22.527874,72.764718,-16.637400,-10.626300,43.860500,41.1,8,8,2022
...,...,...,...,...,...,...,...,...,...,...
941,2023-02-28,22.523640,72.766727,-14.539132,-10.738241,41.797688,26.8,28,2,2023
942,2023-02-28,22.523657,72.766016,-14.474763,-10.252501,41.254852,32.8,28,2,2023
943,2023-02-28,22.524255,72.766024,-16.174562,-11.142242,42.046009,34.8,28,2,2023
944,2023-02-28,22.524229,72.766601,-16.532534,-11.246845,41.706707,27.8,28,2,2023
945,2023-02-28,22.524027,72.766357,-16.490974,-10.754059,41.437458,23.5,28,2,2023

In [47]:
eos_combined

,Sample Date & Time,Latitude (Centre of grid),Longitude (Centre of grid),HH-pol,HV-pol,SM1 (%),Month,Day,Year
0,2022-08-28,22.526048,72.765011,-4.99884,-13.33651,30.5,8,28,2022
1,2022-08-28,22.525481,72.765028,-8.76236,-16.08855,46.9,8,28,2022
2,2022-08-28,22.525999,72.765663,-7.11428,-11.90641,18.1,8,28,2022
3,2022-08-28,22.527290,72.764707,-8.32358,-15.11733,34.4,8,28,2022
4,2022-08-28,22.527874,72.764718,-5.27314,-15.93518,41.1,8,28,2022
...,...,...,...,...,...,...,...,...,...
892,2023-02-28,22.523640,72.766727,-8.69274,-14.15688,26.8,2,28,2023
893,2023-02-28,22.523657,72.766016,-6.48271,-15.56076,32.8,2,28,2023
894,2023-02-28,22.524255,72.766024,-6.20660,-14.73141,34.8,2,28,2023
895,2023-02-28,22.524229,72.766601,-9.43414,-20.52987,27.8,2,28,2023
896,2023-02-28,22.524027,72.766357,-7.47745,-15.42384,23.5,2,28,2023

In [48]:
import pandas as pd

# Example: assume you already loaded your Excel files
# eos = pd.ExcelFile("eos_data.xlsx")
# sentinel = pd.ExcelFile("sentinel_data.xlsx")

# Step 1: Extract sheet names and standardize them to datetime
def clean_dates(sheet_names):
    dates = []
    for s in sheet_names:
        s = s.strip().replace(" ", "")  # remove trailing spaces
        # Handle single-digit months like '28-2-2023'
        try:
            dt = pd.to_datetime(s, format="%d-%m-%Y")
        except:
            dt = pd.to_datetime(s, dayfirst=True)  # fallback
        dates.append(dt)
    return dates

eos_dates = clean_dates(eos.sheet_names)
sentinel_dates = clean_dates(sentinel.sheet_names)

# Step 2: Match dates within Â±2 days
pairs = []
for e_date, e_sheet in zip(eos_dates, eos.sheet_names):
    for s_date, s_sheet in zip(sentinel_dates, sentinel.sheet_names):
        if abs((e_date - s_date).days) <= 2:
            pairs.append((e_sheet, s_sheet))

print("Matched pairs (EOS, Sentinel):")
for p in pairs:
    print(p)

Matched pairs (EOS, Sentinel):
('28-08-2022', '27-08-2022')
('15-10-2022', '14-10-2022')
('11-02-2023 ', '11-02-2023 ')
('28-2-2023', '28-2-2023')

In [49]:
import pandas as pd

combined_dfs = {}

for eos_sheet in eos.sheet_names:
    eos_date = pd.to_datetime(eos_sheet.strip(), dayfirst=True)
    
    # look for Sentinel sheets within Â±2 days
    for sent_sheet in sentinel.sheet_names:
        sent_date = pd.to_datetime(sent_sheet.strip(), dayfirst=True)
        
        if abs((eos_date - sent_date).days) <= 2:
            eos_df = pd.read_excel(EOS_PATH, sheet_name=eos_sheet)
            sent_df = pd.read_excel(SENTINEL_PATH, sheet_name=sent_sheet)
            
            # add source column so you know where data came from
            eos_df["source"] = "EOS"
            sent_df["source"] = "Sentinel"
            
            # concat vertically (stacking rows)
            combined = pd.concat([eos_df, sent_df], ignore_index=True)
            
            key = f"{eos_sheet}_{sent_sheet}"
            combined_dfs[key] = combined

combined_dfs.keys()

dict_keys(['28-08-2022_27-08-2022', '15-10-2022_14-10-2022', '11-02-2023 _11-02-2023 ', '28-2-2023_28-2-2023'])

In [50]:
for key in combined_dfs.keys():
    display(combined_dfs[key])
    print()
    print()

,Sample Date & Time,Latitude (Centre of grid),Longitude (Centre of grid),HH-pol,HV-pol,SM1 (%),source,VH-pol,VV-pol,(Î¸)
0,2022-08-28,22.526048,72.765011,-4.99884,-13.33651,30.5,EOS,NaN,NaN,NaN
1,2022-08-28,22.525481,72.765028,-8.76236,-16.08855,46.9,EOS,NaN,NaN,NaN
2,2022-08-28,22.525999,72.765663,-7.11428,-11.90641,18.1,EOS,NaN,NaN,NaN
3,2022-08-28,22.527290,72.764707,-8.32358,-15.11733,34.4,EOS,NaN,NaN,NaN
4,2022-08-28,22.527874,72.764718,-5.27314,-15.93518,41.1,EOS,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
295,2022-08-08,22.524262,72.768629,NaN,NaN,28.8,Sentinel,-13.6399,-8.41941,42.5706
296,2022-08-08,22.524252,72.767989,NaN,NaN,44.2,Sentinel,-14.1900,-8.72712,43.6156
297,2022-08-08,22.524049,72.768361,NaN,NaN,35.0,Sentinel,-14.8214,-9.03759,43.1670
298,2022-08-08,22.524049,72.768361,NaN,NaN,37.4,Sentinel,-14.8214,-9.03759,43.1670
299,2022-08-08,22.524049,72.768361,NaN,NaN,37.6,Sentinel,-14.8214,-9.03759,43.1670

,Sample Date & Time,Latitude (Centre of grid),Longitude (Centre of grid),HH-pol,HV-pol,SM1 (%),source,Latitude (Centre of grid).1,VH-pol,VV-pol,(Î¸)
0,2022-10-15,22.526048,72.765011,-7.22510,-15.31476,15.4,EOS,NaN,NaN,NaN,NaN
1,2022-10-15,22.525481,72.765028,-7.12465,-15.65603,11.0,EOS,NaN,NaN,NaN,NaN
2,2022-10-15,22.525423,72.765663,-9.24639,-15.80069,13.1,EOS,NaN,NaN,NaN,NaN
3,2022-10-15,22.525999,72.765663,-8.71673,-17.20822,20.8,EOS,NaN,NaN,NaN,NaN
4,2022-10-15,22.525563,72.765399,-7.06178,-17.07947,12.6,EOS,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
324,2022-10-14,22.524255,72.766024,NaN,NaN,13.7,Sentinel,22.524255,-17.8510,-10.1538,41.8686
325,2022-10-14,22.524229,72.766601,NaN,NaN,13.2,Sentinel,22.524229,-19.5258,-12.0423,41.8539
326,2022-10-14,22.524027,72.766357,NaN,NaN,14.4,Sentinel,22.524027,-18.7444,-11.8569,41.6164
327,2022-10-14,NaN,72.766357,NaN,NaN,15.8,Sentinel,22.524027,-18.7444,-11.8569,41.6164
328,2022-10-14,NaN,72.766357,NaN,NaN,15.9,Sentinel,22.524027,-18.7444,-11.8569,41.6164

,Sample Date & Time,Latitude (Centre of grid),Longitude (Centre of grid),HH-pol,HV-pol,SM1 (%),source,VH-pol,VV-pol,(Î¸)
0,2023-02-11,22.526048,72.765011,-6.65891,-16.04795,31.7,EOS,NaN,NaN,NaN
1,2023-02-11,22.525481,72.765028,-8.39406,-14.43060,15.0,EOS,NaN,NaN,NaN
2,2023-02-11,22.525423,72.765663,-7.16176,-18.05111,30.4,EOS,NaN,NaN,NaN
3,2023-02-11,22.525999,72.765663,-6.16542,-14.59074,1.9,EOS,NaN,NaN,NaN
4,2023-02-11,22.525563,72.765399,-9.40695,-16.35837,30.4,EOS,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
285,2023-02-11,22.523640,72.766727,NaN,NaN,23.0,Sentinel,-14.6779,-9.02415,41.9279
286,2023-02-11,22.523657,72.766016,NaN,NaN,38.7,Sentinel,-14.7466,-8.90438,41.3781
287,2023-02-11,22.524255,72.766024,NaN,NaN,32.1,Sentinel,-14.3410,-6.59922,41.8594
288,2023-02-11,22.524229,72.766601,NaN,NaN,21.2,Sentinel,-14.7369,-6.97648,41.8458
289,2023-02-11,22.524027,72.766357,NaN,NaN,20.5,Sentinel,-13.9063,-6.07886,41.6119

,Sample Date & Time,Latitude (Centre of grid),Longitude (Centre of grid),HH-pol,HV-pol,SM1 (%),source,VH-pol,VV-pol,angle
0,2023-02-28,22.526048,72.765011,-5.15094,-15.03994,8.7,EOS,NaN,NaN,NaN
1,2023-02-28,22.525481,72.765028,-6.32535,-17.69331,25.9,EOS,NaN,NaN,NaN
2,2023-02-28,22.525423,72.765663,-7.84002,-14.92221,49.7,EOS,NaN,NaN,NaN
3,2023-02-28,22.525999,72.765663,-8.46383,-17.36857,3.3,EOS,NaN,NaN,NaN
4,2023-02-28,22.525563,72.765399,-4.92177,-14.62923,50.7,EOS,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
308,2023-02-28,22.523640,72.766727,NaN,NaN,26.8,Sentinel,-14.539132,-10.738241,41.797688
309,2023-02-28,22.523657,72.766016,NaN,NaN,32.8,Sentinel,-14.474763,-10.252501,41.254852
310,2023-02-28,22.524255,72.766024,NaN,NaN,34.8,Sentinel,-16.174562,-11.142242,42.046009
311,2023-02-28,22.524229,72.766601,NaN,NaN,27.8,Sentinel,-16.532534,-11.246845,41.706707
312,2023-02-28,22.524027,72.766357,NaN,NaN,23.5,Sentinel,-16.490974,-10.754059,41.437458

In [51]:
# Step 3: Merge corresponding sheets
combined_dfs = {}
for e_sheet, s_sheet in pairs:
    df_e = pd.read_excel(EOS_PATH, sheet_name=e_sheet)
    df_s = pd.read_excel(SENTINEL_PATH, sheet_name=s_sheet)

    # Clean sentinel columns like before
    if 'Latitude (Centre of grid).1' in df_s.columns:
        df_s = df_s.drop(['Latitude (Centre of grid).1'], axis=1)
    df_s = df_s.rename(columns={'(\u03b8)': 'angle'})

    # Merge on common spatial + temporal columns
    df_combined = pd.merge(
        df_e,
        df_s,
        on=['Sample Date & Time', 'Latitude (Centre of grid)', 'Longitude (Centre of grid)'],
        suffixes=('_eos', '_sentinel')
    )

    combined_dfs[f"{e_sheet}_{s_sheet}"] = df_combined

print("Combined datasets created:", list(combined_dfs.keys()))

Combined datasets created: ['28-08-2022_27-08-2022', '15-10-2022_14-10-2022', '11-02-2023 _11-02-2023 ', '28-2-2023_28-2-2023']