In [1]:
import pandas as pd

eos = pd.read_excel('/home/kshipra/work/major/ml experiments/data/manually_combined.xlsx', sheet_name='all_stacked_eos')
sentinel = pd.read_excel('/home/kshipra/work/major/ml experiments/data/manually_combined.xlsx', sheet_name='all_stacked_sentinel')

len(eos), len(sentinel)

(747, 796)

In [2]:
eos

          Date   Latitude  Longitude       HH        HV    SM
0   2022-09-11  22.526048  72.765011 -7.38713 -15.09099  24.4
1   2022-09-11  22.525481  72.765028 -6.25740 -12.05392  41.0
2   2022-09-11  22.525423  72.765663 -8.44134 -16.46069  25.3
3   2022-09-11  22.525999  72.765663 -2.85467 -17.00499  53.7
4   2022-09-11  22.525563  72.765399 -6.88868 -12.32378  53.4
..         ...        ...        ...      ...       ...   ...
742 2023-02-28  22.523640  72.766727 -8.69274 -14.15688  26.8
743 2023-02-28  22.523657  72.766016 -6.48271 -15.56076  32.8
744 2023-02-28  22.524255  72.766024 -6.20660 -14.73141  34.8
745 2023-02-28  22.524229  72.766601 -9.43414 -20.52987  27.8
746 2023-02-28  22.524027  72.766357 -7.47745 -15.42384  23.5

[747 rows x 6 columns]

In [5]:
eos['Day'] = eos['Date'].dt.day
eos['Month'] = eos['Date'].dt.month
eos['Year'] = eos['Date'].dt.year

eos

,Date,Latitude,Longitude,HH,HV,SM,Day,Month,Year
0,2022-09-11,22.526048,72.765011,-7.38713,-15.09099,24.4,11,9,2022
1,2022-09-11,22.525481,72.765028,-6.25740,-12.05392,41.0,11,9,2022
2,2022-09-11,22.525423,72.765663,-8.44134,-16.46069,25.3,11,9,2022
3,2022-09-11,22.525999,72.765663,-2.85467,-17.00499,53.7,11,9,2022
4,2022-09-11,22.525563,72.765399,-6.88868,-12.32378,53.4,11,9,2022
...,...,...,...,...,...,...,...,...,...
742,2023-02-28,22.523640,72.766727,-8.69274,-14.15688,26.8,28,2,2023
743,2023-02-28,22.523657,72.766016,-6.48271,-15.56076,32.8,28,2,2023
744,2023-02-28,22.524255,72.766024,-6.20660,-14.73141,34.8,28,2,2023
745,2023-02-28,22.524229,72.766601,-9.43414,-20.52987,27.8,28,2,2023
746,2023-02-28,22.524027,72.766357,-7.47745,-15.42384,23.5,28,2,2023

In [6]:
sentinel['Day'] = sentinel['Date'].dt.day
sentinel['Month'] = sentinel['Date'].dt.month
sentinel['Year'] = sentinel['Date'].dt.year

sentinel

,Date,Latitude,Longitude,VH,VV,Angle,SM,Day,Month,Year
0,2022-09-08,22.526048,72.765011,-14.947200,-10.379400,40.366800,20.6,8,9,2022
1,2022-09-08,22.525481,72.765028,-16.361200,-11.299400,41.008800,25.8,8,9,2022
2,2022-09-08,22.525423,72.765663,-16.168800,-10.992000,42.359800,28.9,8,9,2022
3,2022-09-08,22.525999,72.765663,-15.630700,-8.829090,42.982700,4.1,8,9,2022
4,2022-09-08,22.525563,72.765399,-15.130900,-10.333000,41.434700,35.3,8,9,2022
...,...,...,...,...,...,...,...,...,...,...
791,2023-02-28,22.523640,72.766727,-14.539132,-10.738241,41.797688,26.8,28,2,2023
792,2023-02-28,22.523657,72.766016,-14.474763,-10.252501,41.254852,32.8,28,2,2023
793,2023-02-28,22.524255,72.766024,-16.174562,-11.142242,42.046009,34.8,28,2,2023
794,2023-02-28,22.524229,72.766601,-16.532534,-11.246845,41.706707,27.8,28,2,2023
795,2023-02-28,22.524027,72.766357,-16.490974,-10.754059,41.437458,23.5,28,2,2023

In [7]:
from model_experiments import ModelExperimentsV1

eos_hh_hv = ModelExperimentsV1(eos[['HH', 'HV']], eos['SM']).run_all()
eos_hh_hv_dmy = ModelExperimentsV1(eos[['HH', 'HV', 'Day', 'Month', 'Year']], eos[['SM']]).run_all()

sent_vv_vh = ModelExperimentsV1(sentinel[['VV', 'VH']], sentinel[['SM']]).run_all()
sent_vv_vh_angle = ModelExperimentsV1(sentinel[['VV', 'VH', 'Angle']], sentinel[['SM']]).run_all()
sent_vv_vh_angle_dmy = ModelExperimentsV1(sentinel[['VV', 'VH', 'Angle', 'Day', 'Month', 'Year']], sentinel[['SM']]).run_all()

=== Running RandomForest ===
Fitting 3 folds for each of 216 candidates, totalling 648 fits
Best Parameters: {'max_depth': 5, 'max_features': 'sqrt', 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 100}
Test R2 Score: -0.005061240545095824

=== Running XGBoost ===
Fitting 3 folds for each of 108 candidates, totalling 324 fits
Best Parameters: {'colsample_bytree': 0.8, 'learning_rate': 0.01, 'max_depth': 3, 'n_estimators': 100, 'subsample': 0.8}
Test R2 Score: -0.029123622044015862

=== Running AdaBoost ===
Fitting 3 folds for each of 144 candidates, totalling 432 fits
Best Parameters: {'estimator__max_depth': 3, 'estimator__min_samples_split': 2, 'learning_rate': 0.01, 'n_estimators': 100}
Test R2 Score: 0.03262468061360713

=== Running SVR ===
Fitting 3 folds for each of 320 candidates, totalling 960 fits
Best Parameters: {'model__C': 0.1, 'model__epsilon': 0.01, 'model__gamma': 'scale', 'model__kernel': 'rbf'}
Test R2 Score: 0.025386160951491266

=== Running RandomForest ===
Fitting 3 folds for each of 216 candidates, totalling 648 fits
Best Parameters: {'max_depth': 5, 'max_features': 'sqrt', 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 100}
Test R2 Score: -0.09272137987215112

=== Running XGBoost ===
Fitting 3 folds for each of 108 candidates, totalling 324 fits
Best Parameters: {'colsample_bytree': 1.0, 'learning_rate': 0.01, 'max_depth': 3, 'n_estimators': 100, 'subsample': 0.8}
Test R2 Score: -0.07657564184404642

=== Running AdaBoost ===
Fitting 3 folds for each of 144 candidates, totalling 432 fits
Best Parameters: {'estimator__max_depth': 2, 'estimator__min_samples_split': 2, 'learning_rate': 0.1, 'n_estimators': 50}
Test R2 Score: -0.10094087918224925

=== Running SVR ===
Fitting 3 folds for each of 320 candidates, totalling 960 fits
Best Parameters: {'model__C': 0.1, 'model__epsilon': 0.01, 'model__gamma': 'scale', 'model__kernel': 'sigmoid'}
Test R2 Score: -0.018147766787240505

=== Running RandomForest ===
Fitting 3 folds for each of 216 candidates, totalling 648 fits
Best Parameters: {'max_depth': 5, 'max_features': 'sqrt', 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 200}
Test R2 Score: -0.11009935773885382

=== Running XGBoost ===
Fitting 3 folds for each of 108 candidates, totalling 324 fits
Best Parameters: {'colsample_bytree': 1.0, 'learning_rate': 0.01, 'max_depth': 3, 'n_estimators': 100, 'subsample': 0.8}
Test R2 Score: -0.04502027507177231

=== Running AdaBoost ===
Fitting 3 folds for each of 144 candidates, totalling 432 fits
Best Parameters: {'estimator__max_depth': 3, 'estimator__min_samples_split': 5, 'learning_rate': 0.01, 'n_estimators': 100}
Test R2 Score: -0.08249306471629159

=== Running SVR ===
Fitting 3 folds for each of 320 candidates, totalling 960 fits
Best Parameters: {'model__C': 1, 'model__epsilon': 0.5, 'model__gamma': 'scale', 'model__kernel': 'rbf'}
Test R2 Score: -0.04336804778814485

=== Running RandomForest ===
Fitting 3 folds for each of 216 candidates, totalling 648 fits
Best Parameters: {'max_depth': 5, 'max_features': 'sqrt', 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 200}
Test R2 Score: -0.06999073269835865

=== Running XGBoost ===
Fitting 3 folds for each of 108 candidates, totalling 324 fits
Best Parameters: {'colsample_bytree': 0.8, 'learning_rate': 0.01, 'max_depth': 3, 'n_estimators': 100, 'subsample': 0.8}
Test R2 Score: -0.013618534891442602

=== Running AdaBoost ===
Fitting 3 folds for each of 144 candidates, totalling 432 fits
Best Parameters: {'estimator__max_depth': 3, 'estimator__min_samples_split': 5, 'learning_rate': 0.01, 'n_estimators': 50}
Test R2 Score: -0.05864352659865535

=== Running SVR ===
Fitting 3 folds for each of 320 candidates, totalling 960 fits
Best Parameters: {'model__C': 1, 'model__epsilon': 0.01, 'model__gamma': 'scale', 'model__kernel': 'rbf'}
Test R2 Score: -0.02845417978802134

=== Running RandomForest ===
Fitting 3 folds for each of 216 candidates, totalling 648 fits
Best Parameters: {'max_depth': 5, 'max_features': 'sqrt', 'min_samples_leaf': 4, 'min_samples_split': 10, 'n_estimators': 200}
Test R2 Score: -0.20961718867393198

=== Running XGBoost ===
Fitting 3 folds for each of 108 candidates, totalling 324 fits
Best Parameters: {'colsample_bytree': 0.8, 'learning_rate': 0.01, 'max_depth': 3, 'n_estimators': 100, 'subsample': 1.0}
Test R2 Score: -0.06859862965716523

=== Running AdaBoost ===
Fitting 3 folds for each of 144 candidates, totalling 432 fits
Best Parameters: {'estimator__max_depth': 2, 'estimator__min_samples_split': 10, 'learning_rate': 0.01, 'n_estimators': 100}
Test R2 Score: 0.016805297608458947

=== Running SVR ===
Fitting 3 folds for each of 320 candidates, totalling 960 fits
Best Parameters: {'model__C': 10, 'model__epsilon': 0.01, 'model__gamma': 0.1, 'model__kernel': 'rbf'}
Test R2 Score: 0.003175548133085071

In [8]:
final_results = {}

final_results['Sentinel VV+VH+Angle'] = sent_vv_vh_angle
final_results['Sentinel VV+VH'] = sent_vv_vh
final_results['Sentinel VV+VH+Angle+Day+Month+Year'] = sent_vv_vh_angle_dmy

final_results['EOS HH+HV'] = eos_hh_hv
final_results['EOS HH+HV+Day+Month+Year'] = eos_hh_hv_dmy

In [9]:
records = []
for dataset, models in final_results.items():
    for model, metrics in models.items():
        splits = dataset.split(' ')
        row = {"Dataset": splits[1], "Model": model, "Satellite": splits[0]}
        row.update(metrics)  # add MAE, MSE, RMSE, R2
        records.append(row)

# Convert to DataFrame
results_df = pd.DataFrame(records)

# Optional: nicer ordering
results_df = results_df[["Dataset", "Model", "Satellite", "MAE", "MSE", "RMSE", "MAPE", "R2"]]

# Preview
results_df

,Dataset,Model,Satellite,MAE,MSE,RMSE,MAPE,R2
0,VV+VH+Angle,RandomForest,Sentinel,9.0187,120.5140,10.9779,0.5252,-0.0700
1,VV+VH+Angle,XGBoost,Sentinel,8.7239,114.1647,10.6848,0.5108,-0.0136
2,VV+VH+Angle,AdaBoost,Sentinel,8.8731,119.2359,10.9195,0.5178,-0.0586
3,VV+VH+Angle,SVR,Sentinel,8.8154,115.8357,10.7627,0.5017,-0.0285
4,VV+VH,RandomForest,Sentinel,8.9249,125.0314,11.1817,0.5321,-0.1101
5,VV+VH,XGBoost,Sentinel,8.8037,117.7015,10.8490,0.5226,-0.0450
6,VV+VH,AdaBoost,Sentinel,8.8809,121.9221,11.0418,0.5226,-0.0825
7,VV+VH,SVR,Sentinel,8.8043,117.5154,10.8405,0.5100,-0.0434
8,VV+VH+Angle+Day+Month+Year,RandomForest,Sentinel,9.8179,136.2402,11.6722,0.6113,-0.2096
9,VV+VH+Angle+Day+Month+Year,XGBoost,Sentinel,9.1303,120.3572,10.9707,0.5587,-0.0686
10,VV+VH+Angle+Day+Month+Year,AdaBoost,Sentinel,8.5472,110.7381,10.5232,0.5202,0.0168
11,VV+VH+Angle+Day+Month+Year,SVR,Sentinel,8.6551,112.2732,10.5959,0.5163,0.0032
12,HH+HV,RandomForest,EOS,8.8618,114.7453,10.7119,0.5855,-0.0051
13,HH+HV,XGBoost,EOS,9.0826,117.4924,10.8394,0.5928,-0.0291
14,HH+HV,AdaBoost,EOS,8.8667,110.4427,10.5092,0.5748,0.0326
15,HH+HV,SVR,EOS,8.7973,111.2691,10.5484,0.5723,0.0254
16,HH+HV+Day+Month+Year,RandomForest,EOS,9.3981,124.7532,11.1693,0.6263,-0.0927
17,HH+HV+Day+Month+Year,XGBoost,EOS,9.2869,122.9099,11.0865,0.6160,-0.0766
18,HH+HV+Day+Month+Year,AdaBoost,EOS,9.3328,125.6916,11.2112,0.6400,-0.1009
19,HH+HV+Day+Month+Year,SVR,EOS,9.0190,116.2393,10.7814,0.5794,-0.0181

In [11]:
results_df.to_excel("/home/kshipra/work/major/ml experiments/output/metrics/new_dataset Classical ML metrics.xlsx", index=False)