In [1]:
from pathlib import Path
import os

DATA_PATH = Path.cwd().parent / "data"

EOS_PATH = DATA_PATH / "EOS04 EDITED.xlsx"
SENTINEL_PATH = DATA_PATH / "SENTINEL Edited.xlsx"

os.path.isfile(EOS_PATH), os.path.isfile(SENTINEL_PATH)

(True, True)

In [2]:
import pandas as pd

eos = pd.ExcelFile(EOS_PATH)
sentinel = pd.ExcelFile(SENTINEL_PATH)

eos.sheet_names, sentinel.sheet_names

(['28-08-2022',
  '11-09-2022',
  '15-10-2022',
  '24-01-2023',
  '11-02-2023 ',
  '28-2-2023'],
 ['27-08-2022',
  '08-09-2022',
  '14-10-2022',
  '30-01-2023',
  '11-02-2023 ',
  '28-2-2023'])

In [4]:
from model_experiments import ModelExperiments

eos = pd.read_excel(DATA_PATH / "eos_processed.xlsx")
eos

,Sample Date & Time,Latitude (Centre of grid),Longitude (Centre of grid),HH-pol,HV-pol,SM1 (%)
0,2022-08-28,22.526048,72.765011,-4.99884,-13.33651,30.5
1,2022-08-28,22.525481,72.765028,-8.76236,-16.08855,46.9
2,2022-08-28,22.525999,72.765663,-7.11428,-11.90641,18.1
3,2022-08-28,22.527290,72.764707,-8.32358,-15.11733,34.4
4,2022-08-28,22.527874,72.764718,-5.27314,-15.93518,41.1
...,...,...,...,...,...,...
892,2023-02-28,22.523640,72.766727,-8.69274,-14.15688,26.8
893,2023-02-28,22.523657,72.766016,-6.48271,-15.56076,32.8
894,2023-02-28,22.524255,72.766024,-6.20660,-14.73141,34.8
895,2023-02-28,22.524229,72.766601,-9.43414,-20.52987,27.8
896,2023-02-28,22.524027,72.766357,-7.47745,-15.42384,23.5

In [5]:
X_cols = ['HH-pol', 'HV-pol']
y_col = ['SM1 (%)']

results = ModelExperiments(X=eos[X_cols], y=eos[y_col]).run_all()

Data split sizes:
Train: 537 samples
Validation: 180 samples
Test: 180 samples

=== Running RandomForest ===
Fitting 3 folds for each of 216 candidates, totalling 648 fits
Best Parameters: {'max_depth': 10, 'max_features': 'sqrt', 'min_samples_leaf': 2, 'min_samples_split': 5, 'n_estimators': 100}

=== Running XGBoost ===
Fitting 3 folds for each of 108 candidates, totalling 324 fits
Best Parameters: {'colsample_bytree': 1.0, 'learning_rate': 0.01, 'max_depth': 7, 'n_estimators': 100, 'subsample': 0.8}

=== Running AdaBoost ===
Fitting 3 folds for each of 144 candidates, totalling 432 fits
Best Parameters: {'estimator__max_depth': 5, 'estimator__min_samples_split': 2, 'learning_rate': 0.05, 'n_estimators': 50}

=== Running SVR ===
Fitting 3 folds for each of 144 candidates, totalling 432 fits
Best Parameters: {'C': 1, 'epsilon': 0.2, 'gamma': 'scale', 'kernel': 'rbf'}

In [7]:
pd.DataFrame(results)

                 RandomForest   XGBoost  AdaBoost       SVR
Validation_MAE         8.6644    8.3952    8.6089    8.6001
Validation_MSE       118.8397  107.0372  111.0542  113.8112
Validation_RMSE       10.9014   10.3459   10.5382   10.6682
Validation_R2          0.0042    0.1031    0.0694    0.0463
Validation_MAPE        0.5440    0.5279    0.5306    0.5300
Test_MAE               8.1779    8.4794    8.6049    8.5769
Test_MSE             112.9268  112.2335  114.3433  110.8118
Test_RMSE             10.6267   10.5940   10.6931   10.5267
Test_R2                0.0903    0.0959    0.0789    0.1073
Test_MAPE              0.4104    0.4353    0.4292    0.4234